body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.selected {
  background: rgba(255, 0, 0, 0.5);
}

.doc-style-editor {
  margin: 10px;
}

.doc-wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.doc-image {
  display: block;
  width: 720px;
  height: auto;
  float: left;
  background-image: url('../src/img/sample.png');
  background-size: 100% auto;
  position: relative;
  border: 1px solid #000;
}

.draggable-text {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
  cursor: pointer;
  word-wrap: break-word;
  transform-origin: 0 0;
}

.split-char {
  display: inline-block;
}

.setting {
  display: block;
  width: 25%;
  height: auto;
  margin-left: 10px;
  float: left;
  border: 1px solid #000;
  .text-list {
    .text-item {
      cursor: pointer;
      border: 1px solid #000;
    }
  }
}

.result {
  clear: both;
}
